

body {
    background-color: #3a2e39;
}

.principal {
    overflow: hidden;
}

.imagens{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 10px;

}
li img {
    width: 300px;
    max-height: 600px;
    
    
}

@media (max-width: 769px) {
    .imagens {
        height: 85%;          
        display: flex;
        justify-items: center;
        flex-direction: column;
        gap: 10px;
    }
}