
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #3a2e39;
}
.principal {
    width: 100%;
    height: 100%;
 
}
.imagens {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}


/*@media (max-width: 769px) {
    .principal {
        height: 85%;        
        flex-direction: column;
    }
}*/